:root {
  /* Primary Color */
  --orange: hsl(25, 97%, 53%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);

  --darkBlssue: hsl(210, 20%, 10%);

  /* Font */
  --primaryFont: "Overpass", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--primaryFont);
  font-size: 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

input[type="radio"] {
  transform: scale(3);
}

.fill {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 144rem;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
  background-color: var(--veryDarkBlue);
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  margin: 0 auto;
  max-width: 33.5rem;
  padding: 2.5rem;
  letter-spacing: -0.09rem;
  background: rgb(26, 32, 40);
  background: linear-gradient(
    0deg,
    rgba(26, 32, 40, 1) 0%,
    rgba(37, 45, 54, 1) 100%
  );

  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}
.rating {
  position: relative;
}

.card__star {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 4rem;
  /* padding: 1.5rem; */
  background-color: var(--mediumGrey);
  background-color: hsla(216, 12%, 54%, 0.1);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card__star--circle {
  object-fit: contain;
}

.card__title {
  margin: 1rem 0;
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--white);
}

.card__text {
  margin-top: 0;
  line-height: 1.6;
  font-weight: 400;
  color: var(--lightGrey);
}

.form__flex {
  display: flex;
  justify-content: space-between;
}

.form__number {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem;
  background-color: hsla(216, 12%, 54%, 0.1);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  transition: background-color 0.5s;
}

.form__label {
  position: absolute;
  display: block;
  color: var(--mediumGrey);

  transition: color 0.5s;
}

.form__number--input {
  display: block;
  position: relative;
  opacity: 0;
  /* z-index: 5; */
  cursor: pointer;
}

.form__button {
  margin: 2.5rem 0 0.5rem;
  display: block;
  padding: 1.5rem;
  width: 100%;
  border: none;
  letter-spacing: 0.1rem;

  color: var(--white);
  background-color: var(--orange);

  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  border-radius: 10rem;

  transition: color 0.5s;
  transition: background-color 0.5s;
}

.bg--orange {
  background-color: orange;
}

.co--white {
  color: var(--white);
}

.form__number:hover {
  background-color: var(--lightGrey);
}
.form__number:hover .form__label {
  color: var(--white);
}

.bg--orange:hover {
  background-color: orange;
}

.co--white:hover {
  color: var(--white);
}

.form__button:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

/* Result Card */
.result {
  row-gap: 0;
  justify-content: space-between;
  position: relative;
}
.result__img {
  margin: 0 auto;
  object-fit: contain;
  width: 50%;
  height: 100%;
}

.result__selected {
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;
  width: 65%;
  letter-spacing: 0;
  background-color: hsla(216, 12%, 54%, 0.1);

  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  border-radius: 10rem;
  color: var(--orange);
}

.result__title {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
  margin: 3rem 0 1rem;
  color: var(--white);
}

.result__text {
  text-align: center;
  line-height: 1.6;
  margin: 0;
  color: var(--lightGrey);
}

.hidden {
  display: none;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
}

.attribution__container {
  color: var(--white);
  font-weight: bolder;
}

.attribution__container a {
  color: var(--orange);
  text-decoration: none;
}
